In [1]:
import pandas
dataframe =pandas.read_csv('data_new.csv')
dataframe

,Unnamed: 0,First Name,Last Name,Gender,Country,Age,Date,Id
0,1,Dulce,Abril,Female,United States,32.0,15/10/2017,1562.0
1,2,Mara,Hashimoto,Female,Great Britain,25.0,16/8/2016,1582.0
2,3,Philip,Gent,Male,France,36.0,21/5/2015,2587.0
3,4,Kathleen,Hanner,Female,United States,25.0,15/10/2017,3549.0
4,5,Nereida,Magwood,Female,United States,58.0,16/8/2016,2468.0
...,...,...,...,...,...,...,...,...
95,96,Roma,Lafollette,Female,United States,34.0,15/10/2017,2654.0
96,97,Felisa,Cail,Female,United States,NaN,16/8/2016,6525.0
97,98,Demetria,Abbey,Female,United States,32.0,21/5/2015,3265.0
98,99,Jeromy,Danz,Male,United States,39.0,15/10/2017,3265.0
99,100,Rasheeda,Alkire,Female,United States,29.0,16/8/2016,6125.0

In [6]:
#display the first few rows of the dataset
print ('first few rows:')
print(dataframe.head())

first few rows:
   Unnamed: 0 First Name  Last Name  Gender        Country   Age        Date  \
0           1      Dulce      Abril  Female  United States  32.0  15/10/2017
1           2       Mara  Hashimoto  Female  Great Britain  25.0   16/8/2016
2           3     Philip       Gent    Male         France  36.0   21/5/2015
3           4   Kathleen     Hanner  Female  United States  25.0  15/10/2017
4           5    Nereida    Magwood  Female  United States  58.0   16/8/2016

       Id
0  1562.0
1  1582.0
2  2587.0
3  3549.0
4  2468.0

In [10]:
#get the dataset's shape
print('\nDataset Shape:')
print(dataframe.shape)

Dataset Shape:
(100, 8)

In [28]:
# Get the column names of the DataFrame
print('\nColumn Names:')
print(dataframe.columns.tolist())  # Correct method to get column names as a list

Column Names:
['Unnamed: 0', 'First Name', 'Last Name', 'Gender', 'Country', 'Age', 'Date', 'Id']

In [32]:
# Get the data types for each column
print('\nData Types:')
print(dataframe.dtypes)

Data Types:
Unnamed: 0      int64
First Name     object
Last Name      object
Gender         object
Country        object
Age           float64
Date           object
Id            float64
dtype: object

In [36]:
# Display a summary of the dataset for numerical columns
print('Summary of Numerical Columns:')
print(dataframe.describe())

Summary of Numerical Columns:
       Unnamed: 0        Age           Id
count  100.000000  94.000000    97.000000
mean    50.500000  33.180851  4691.958763
std     29.011492   8.162282  2359.317861
min      1.000000  21.000000  1258.000000
25%     25.750000  26.000000  2587.000000
50%     50.500000  32.000000  3579.000000
75%     75.250000  37.750000  6540.000000
max    100.000000  58.000000  9654.000000

In [40]:
# Check for missing values in each column and report the count
print('\nMissing Values in Each Column:')
print(dataframe.isnull().sum())

Missing Values in Each Column:
Unnamed: 0    0
First Name    0
Last Name     0
Gender        0
Country       0
Age           6
Date          0
Id            3
dtype: int64

In [56]:

# Filter the data for students aged above 35 and below 45
filtered_data = dataframe[(dataframe['Age'] > 35) & (dataframe['Age'] < 45)]

# Display the first few rows of the filtered DataFrame
print("Filtered Data (Age > 35 and < 45):")
print(filtered_data.head())

# Optional: Save the filtered data as a new CSV file (if needed)
# filtered_data.to_csv('filtered_data.csv', index=False)

Filtered Data (Age > 35 and < 45):
    Unnamed: 0 First Name Last Name  Gender        Country   Age        Date  \
2            3     Philip      Gent    Male         France  36.0   21/5/2015
8            9   Vincenza   Weiland  Female  United States  40.0   21/5/2015
10          11    Arcelia    Bouska  Female  Great Britain  39.0   21/5/2015
11          12   Franklyn    Unknow    Male         France  38.0  15/10/2017
16          17     Shavon    Benito  Female         France  39.0  15/10/2017

        Id
2   2587.0
8   6548.0
10  1258.0
11  2579.0
16  3579.0

In [60]:
# Sort the data by age in ascending order
sorted_data_ascending = dataframe.sort_values(by='Age', ascending=True)
print("Data Sorted by Age (Ascending):")
print(sorted_data_ascending.head())

# Sort the data by age in descending order
sorted_data_descending = dataframe.sort_values(by='Age', ascending=False)
print("\nData Sorted by Age (Descending):")
print(sorted_data_descending.head())

Data Sorted by Age (Ascending):
    Unnamed: 0 First Name  Last Name  Gender Country   Age        Date      Id
74          75     Lester    Prothro    Male  France  21.0  15/10/2017  6574.0
27          28  Francesca  Beaudreau  Female  France  23.0  15/10/2017  5412.0
77          78  Francesca  Beaudreau  Female  France  23.0  15/10/2017  5412.0
15          16   Shavonne        Pia  Female  France  24.0   21/5/2015  1546.0
42          43      Angel      Sanor    Male  France  24.0  15/10/2017  3259.0

Data Sorted by Age (Descending):
    Unnamed: 0 First Name Last Name  Gender        Country   Age        Date  \
54          55    Nereida   Magwood  Female  United States  58.0   16/8/2016
4            5    Nereida   Magwood  Female  United States  58.0   16/8/2016
56          57       Etta      Hurn  Female  Great Britain  56.0  15/10/2017
71          72      Holly      Eudy  Female  United States  52.0   16/8/2016
21          22      Holly      Eudy  Female  United States  52.0   16/8/2016

        Id
54  2468.0
4   2468.0
56  3598.0
71  8561.0
21  8561.0